<body class="bg-light">
    <%- include("../includes/layouts/boilerplate") %>

        <div class="container mt-5">
            <div class="row">
                <div class="col-12 ">
                    <h1 class="text-center mb-4">Edit Listings</h1>
                    <form action="/listings/<%= listing.id %>?_method=PUT" enctype="multipart/form-data" method="post"
                        class=" needs-validation  bg-white p-4 rounded shadow-sm" novalidate>
                        <div class="mb-3">
                            <label for="title" class="form-label">Enter Title</label>
                            <input type="text" required name="listing[title]" id="title" value="<%=listing.title  %>"
                                class="form-control" placeholder="Enter listing title">
                            <div class="valid-feedback">
                                Title looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid Title.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Enter Description</label>
                            <textarea name="listing[description]" required id="description" class="form-control"
                                placeholder="Enter listing description"
                                style="resize: none; height: 150px;"><%=listing.description  %></textarea>
                            <div class="invalid-feedback">
                                Please provide a valid Description.
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="image" class="form-label">Upload New Image</label>
                                <input type="file" name="listing[image]" id="image" class="form-control">
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid URL.
                            </div>
                        </div>
                        <div class="mb-3 p-2">
                        original image
                        <img class="card-img-top" src="<%= originalImageUrl %>" alt="<%= listing.image.filename %>">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Enter Price</label>
                            <input type="number" required name="listing[price]" id="price" value="<%=listing.price  %>"
                                class="form-control" placeholder="Enter price" style="appearance: textfield;">
                            <div class="invalid-feedback">
                                Please provide a valid Price.
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="location" class="form-label">Enter Location</label>
                                <input type="text" required name="listing[location]" id="location"
                                    value="<%=listing.location  %>" class="form-control" placeholder="Enter location">

                                <div class="invalid-feedback">
                                    Please provide a valid location.
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="country" class="form-label">Enter Country</label>
                                <input type="text" required name="listing[country]" id="country"
                                    value="<%=listing.country  %>" class="form-control" placeholder="Enter country">
                                <div class="invalid-feedback">
                                    Please provide a valid country.
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <%- include("../includes/footer") %>

</body>

</html>